header > h1, footer {
	background-image: linear-gradient(to right, #e11900, #7e00bf);
	color: #fff;
	padding: 0.25em;
	box-shadow: 5px 5px 5px #aaa;
}

footer > a { color: #fff; }

article a { color: #000000 }
article a:hover { color: #7e00bf }

img {
	max-width: 100%;
	max-height: 800px;
	width: auto;
	height: auto;
	box-shadow: 5px 5px 5px #aaa;
}

